# Dotnet
bin/
obj/
out/
appsettings.Development.json
*.db
*.user

# Node
node_modules/
dist/
dist-ssr/
*.local

# Docker
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
*.sln.docstates
